Package: me.jjolano.shadow
Name: Shadow
Depends: mobilesubstrate, firmware (>= 11.0), ws.hbang.common, applist, preferenceloader
Version: 3.0
Architecture: iphoneos-arm
Description: A lightweight general jailbreak detection bypass.
Maintainer: jjolano
Author: jjolano
Section: Tweaks
